:root {
    --text-color: #302222;
    --text-color-yellow: #bab4ab;
    --back-color: #fff;
    --border-color: #3a3e41;


    --header--height: 84px;
    --navbar-height: 
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
}

.room-receive__calendar {
    display: none;
    z-index: 1;
}

.current-day {
    text-align: center;
    font-size: .9rem;
    font-weight: 200;
    color: var(--text-color);
}

.current-month {
    margin-top: 30px;
}

.week-days {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.weeks {
    margin-left: 28px;
}

.weeks .last-month {
    color: transparent;
    cursor: default;
}

.weeks .before-days {
    opacity: 0.3;
    cursor: default;
}

.week-days li {
    font-weight: 600;
    padding: 0 7px;
    margin: 0 10px;
    display: block;
    font-size: 1.4rem;
    color: #a1968c;
}

.weeks ul {
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    list-style: none;
}

.weeks ul span {
    margin: 0 15px;
    display: block;
    font-size: 1.4rem;
    padding: 10px 3px;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.weeks ul span:hover {
    opacity: 0.3;
}

.today {
    position: absolute;
    top: 4px;
    right: -5px;
    display: block;
    height: 10px;
    font-size: 1.3rem;
    background-color: orange;
    border-radius: 50%;
    width: 10px;
}


/* Calendar */

.room__calendar {
    position: absolute;
    top: 170%;
    width: 849px;
    background-color: var(--back-color);
    border-radius: 50px;
    height: 430px;
    height: 100%;
    overflow-y: scroll;
    z-index: 3;
}

.room__calendar::-webkit-scrollbar {
    display: none;
}

.calendar__heading {
    padding: 20px 0;
    text-align: center;
}

.calendar__heading-btn {
    border: 1px solid rgb(221, 221, 221);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #232628;
}

.calendar__heading-btn button {
    text-align: left;
    padding: 5px 14px;
    font-size: 1.4rem;
    outline: none;
    border: none;
    font-weight: 500;
    line-height: 1.8rem;
    border-radius: 90px;
    color: var(--text-color)
}

.calendar__heading-btn button:hover {
    background-color: var(--back-color);
    cursor: pointer;
}

.calendar__heading-btn--active {
    background-color: var(--back-color);
}

.heading__calendar {
    margin: 4px 6px 4px 4px;
    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

/* MODAL */

.modal{

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadein linear 0.1s;
    z-index: 2;
}

.modal__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    background: var(--back-color);
    z-index: 1;
    border-radius: 15px;
    display: flex;
}


/* Scrolling bar */

.purpose-list-overflow::-webkit-scrollbar {
    width: 12px;  
    height: 5px;             /* width of the entire scrollbar */
  }
  
.purpose-list-overflow::-webkit-scrollbar-track {
    background: var(--text-color);        /* color of the tracking area */
  }
  
.purpose-list-overflow::-webkit-scrollbar-thumb {
    background-color: #665f54;    /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}

